.input {
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 17px 1px rgba(var(--color-black), 0.15);
  font-size: 1.5em;
  padding: 5px;
  background: url('/search-solid.svg') no-repeat 5px 50%;
  background-size: 20px;
  text-indent: 30px;
  border: 1px solid transparent;
}

.input::placeholder {
  color: rgba(var(--color-black), 0.15);
}

.input:focus {
  border-color: rgba(var(--color-blue), 0.25);
}
