.input {
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.15);
}
/* 
.header {
  background-color: rgb(58, 84, 243);
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
  margin-bottom: 100px;
  position: relative;
}

.editButton {
  background: url('./images/user-edit.svg') no-repeat center;
  background-size: 23px auto;
  width: 40px;
  height: 40px;
  text-indent: -999999px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.name {
  flex: 1 0 100%;
  font-size: 1.5em;
  text-transform: capitalize;
}

.photo {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  border: 5px solid #fff;
  overflow: hidden;
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.15);
}

.name,
.email,
.phone {
  margin-bottom: 15px;
} */
