.wrapper {
  display: grid;
  margin: 20px 0;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.status {
  font-size: 2em;
  padding: 40px 0;
  font-style: italic;
  text-align: center;
  color: rgba(var(--color-gray), 0.5);
}
