.wrapper {
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 40px;
  text-align: center;
  margin: 20px;
  flex: 0 0 280px;
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.15);
}

.header {
  background-color: rgb(58, 84, 243);
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
  margin-bottom: 100px;
  position: relative;
}

.editButton {
  background: url('./images/user-edit.svg') no-repeat center;
  background-size: 23px auto;
  width: 40px;
  height: 40px;
  text-indent: -999999px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.wrapper[data-is-editing='true'] .editButton {
  background-image: url('./images/close.svg');
}

.name {
  flex: 0 0 70%;
  font-size: 1.5em;
  text-transform: capitalize;
  line-height: 1.2;
}

.nameInput {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  padding: 0;
  outline: none;
  line-height: inherit;
}

.photo {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  border: 5px solid #fff;
  overflow: hidden;
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.15);
}

.name,
.email,
.phone {
  margin-bottom: 15px;
}
