:root {
  --color-blue: 58, 84, 243;
  --color-gray: 109, 109, 109;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
}

html,
body {
  font-family: Helvetica, sans-serif;
  color: rgb(var(--color-gray));
  background-color: rgb(var(--color-white));
  font-size: 13px;
}
